body {
    text-align: center;
}

svg {
    display: block;
    margin: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

/* circle {
    fill: #C0C0C0;
} */

path.edge {
    fill: none;
    stroke: #D0D0D0;
    stroke-width: 1.5px;
}

.vertex {
    position: relative;
    z-index: -1;
}