body {
    text-align: center;
}

svg {
    display: block;
    margin: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

circle {
    fill: #666;
}

path.edge {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}
